@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik&display=block");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=block");

$roboto: "Roboto", sans-serif;
$rubik: "Rubik", sans-serif;
$segoe: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$georgia: 'Georgia';
$work-sans: 'Work Sans', sans-serif;
